<!DOCTYPE html>
{%extends 'tempapp/base.html' %}
      {%block body_block%}
      <h1>Employee infromation dashboard</h1>
      <table border="2">
        <thead>
          <th>Employee No</th>
          <th>Employee Name</th>
          <th>Employee Salary</th>
          <th>Employee Address</th>
          <th>actions</th>
        </thead>
      {% for emp in emppass %}
       <tr>
         <td>{{emp.eno}}</td>
         <td>{{emp.ename}}</td>
         <td>{{emp.esal}}</td>
         <td>{{emp.eaddr}}</td>
         <td><a href="#">Update</a><a href="#">Delete</a></td>

      </tr>
      {%endfor%}
      </table>

      <a href="/create" class='btn btn-success btn-lg'>Insert New Employee</a>


      {%endblock %}
